{% extends 'recipes/base.html' %}

{% block title %}
    Create a new recipe
{% endblock title %}

{% block content %}
    <header>
        <nav class="nav-link">
            <a href="{% url 'recipe_list' %}">Main page</a>
        </nav>
    </header>
    <main>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
    </main>
{% endblock content %}
