{% extends 'recipes/base.html' %}

{% block title %}
    {{ recipe_object.title }}
{% endblock title %}

{% block content %}
    <header>
        <nav class="nav-link">
            <a href="{% url 'recipe_list' %}">Main page</a>
        </nav>
    </header>
    <main>
        <h1>{{ recipe_object.title }}</h1>

        <div id="centered-img">
            <a id="edit-link" href="{% url 'edit_recipe' recipe_object.id %}">Edit this recipe</a>
            <img id="detail-img" src="{{ recipe_object.picture }}" alt="tacos">
            <div>4.3 stars</div>
            <p id="description">{{ recipe_object.description }}</p>

        </div>
        <h2>Ingredients</h2>
        <table>
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Food Item</th>
                </tr>
            </thead>
            <tbody>
                {% for ingredient  in recipe_object.ingredients.all %}
                <tr>
                    <td>{{ingredient.amount}}</td>
                    <td>{{ingredient.food_item}}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
        <h2>Steps</h2>
        <ol class="center">
            {% for step in recipe_object.steps.all %}
                <li>{{step.instruction}}</li>
            {% endfor %}
        </ol>

    </main>
{% endblock content %}
