{% extends 'recipes/base.html' %}

{% block title %}
    Edit Recipe
{% endblock title %}

{% block content %}
    <header>
        <nav class="nav-link">
            <a href="{% url 'recipe_list' %}">Main page</a>
        </nav>
    </header>
    <main>
        <h1>Edit {{ recipe_object.title }}</h1>
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Save</button>
        </form>
    </main>
{% endblock content %}
