{% extends 'recipes/base.html' %}

{% block title %}
    Scrumptious Recipes
{% endblock title %}

{% block content %}
    <header>
            <nav class="nav-link">
                <a href="{% url 'recipe_list' %}">Main page</a>

                {% if user.is_authenticated %}
                    <a href="{% url 'create_recipe' %}">Create a recipe</a>
                    <a href="{% url 'my_recipe_list' %}">My Recipes</a>
                    Hello, {{user.username}}
                    <a href="{% url 'logout_user' %}">Log out</a>
                {% else %}
                    <a href="{% url 'signup' %}">Sign Up</a>
                    <a href="{% url 'login_user' %}">Log in</a>
                {% endif %}
            </nav>
        </header>
        <main>
            <h1>Scrumptious Recipes</h1>
            <h2>All the food that's fit to eat</h2>
            <div class="food-grid">
                {% for recipe in recipe_list %}
                <div>
                    <h3>
                        <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
                    </h3>
                    <p>{{ recipe.created_on|date:"F j, Y" }}</p>
                    <img src="{{ recipe.picture }}" alt="tacos">
                    <div>4.3 stars</div>
                </div>
                {% endfor %}
            </div>
        </main>
{% endblock content %}
