* {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav.nav-link a {
    border: 2px solid black;
    border-radius: 5%;
    padding: 0.5% 2%;
    margin: 0 4%;
    color: black;
}

nav.nav-link a:hover {
    border: 2px solid black;
    color: black;
    /* background-color: white; */
    /* background: radial-gradient(orange, black); */
    background-image: url("light-background.png");

    /* font-size: small; */
}

body {
    margin: 0px;
    min-width: 100vw;
    min-height: 100vh;
    background-image: url("light-background.png");
    display: grid;

}

main {
    padding: 16px;
    margin-bottom: 100px;
}

footer {
    padding: 6px 0px;
    background: linear-gradient(white, blue);
    border-top: 1px solid blue;
    text-align: center;
    margin-top: auto;
    min-height: 5rem;
}

#centered-img {
    text-align: center;
}

img {
    height: 200px;
    border-radius: 10%;
}

#detail-img {
    box-shadow: 2px 2px 9px 3px rgb(61, 74, 214);
}

.food-grid {
    /* border: 2px solid black; */
    padding-top: 25px;
}
.food-grid img:hover{
    box-shadow: 2px 2px 9px 3px black;
    transition: box-shadow 0.2s
}

.food-grid div {
    text-align: center;
}

header {
    border-bottom: 2px solid black;
    background: linear-gradient(rgb(224, 119, 27), white);
    margin-bottom: auto;
    min-height: 5rem;
}

header a {
    color: white;
}

a {
    color: green;
    text-decoration: none;
}
a:hover {
    color: black;
    font-weight:900;
}

h1 {
    color: darkgreen;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 25px;
}

h2 {
    text-align: center;
    padding-top: 10px;
}

h3 {


}
.food-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2, auto);

}

tr:nth-child(2n) {
    background-color: lightgrey;
}

table {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black
}

.center {
    text-align: center;
    margin-left: auto
}

ol {
    display: inline;
}

#description {
    border: 3px groove gold;
    margin: 1% 42%;

}

#edit-link {
    display: block;
    border: 2px groove orangered;
    border-radius: 10%;
    margin: 1% 42%;
}
